.contanier {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.contanier header {
  flex: 1;
}
.contanier main {
  display: flex;
  flex: 10;
}
.contanier main .column {
  width: 800px;
  height: 500px;
}
