.list {
  width: 100%;
  height: 100%;
}
.list .title {
  width: 380px;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
  color: #006eff;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  background-image: url('@/assets/3-bg/1002.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.list .title span {
  background-image: -webkit-linear-gradient(top, #006eff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list .content {
  width: 520px;
  height: 750px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  background-image: url('@/assets/3-bg/1003.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.list .content .headline {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  text-align: center;
  background: rgba(0, 110, 255, 0.2);
}
.list .content .headline span {
  flex: 1;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
}
.list .content .con-list {
  width: 100%;
  height: 600px;
  /* 隐藏滚动条 */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-y: scroll;
}
.list .content .con-list .ranking {
  display: flex;
  align-items: center;
  height: 60px;
  text-align: center;
  border-bottom: #006eff 1px solid;
}
.list .content .con-list .ranking span {
  flex: 1;
  color: #fff;
  font-size: 24px;
}
.list .content .con-list::-webkit-scrollbar {
  display: none;
}
