.contanier {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.contanier header {
  flex: 1;
}
.contanier main {
  display: flex;
  flex: 10;
  flex-direction: row;
}
.contanier main .aside {
  flex: 1;
  height: 100%;
}
.contanier main .aside .reporter {
  height: 320px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.contanier main .aside .reporter .content {
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px 30px;
}
.contanier main .aside .reporter .content .headline {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 12px;
  text-align: center;
  background: rgba(0, 110, 255, 0.2);
}
.contanier main .aside .reporter .content .headline span {
  flex: 1;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}
.contanier main .aside .reporter .content .con-list {
  width: 100%;
  height: 160px;
  /* Firefox */
  overflow-y: scroll;
  /* 隐藏滚动条 */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.contanier main .aside .reporter .content .con-list .ranking {
  display: flex;
  align-items: center;
  height: 40px;
  text-align: center;
  border-bottom: #006eff 1px solid;
}
.contanier main .aside .reporter .content .con-list .ranking span {
  flex: 1;
  color: #fff;
  font-size: 14px;
}
.contanier main .aside .reporter .content .con-list::-webkit-scrollbar {
  display: none;
}
.contanier main .aside .hotrise {
  padding-top: 10px;
  width: 400px;
  height: 300px;
  color: #fff;
  text-align: center;
}
.contanier main .aside .hotrise .hot_content {
  line-height: 40px;
  overflow-y: scroll;
  height: 250px;
  font-size: 18px;
}
.contanier main .aside .real {
  width: 400px;
  height: 330px;
  padding-top: 10px;
}
.contanier main .aside .real video {
  width: 350px;
  height: 200px;
  margin-left: 30px;
}
.contanier main .aside .real .real_content {
  width: 360px;
  height: 220px;
  margin: 0 auto;
  padding: 0px 8px;
  overflow-y: scroll;
  color: #fff;
  font-size: 15px;
  background: rgba(18, 55, 119, 0.6);
  /* 隐藏滚动条 */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.contanier main .aside .real .real_content .newsReport {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
  line-height: 20px;
  border-bottom: 1px solid #1651b8;
}
.contanier main .aside .real .real_content .newsReport .real_ranking {
  width: 30px;
  height: 30px;
  margin: 10px;
  line-height: 30px;
  text-align: center;
  background: #1e4889;
}
.contanier main .aside .real .real_content .newsReport .real_introduce {
  display: -webkit-box;
  width: 300px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.contanier main .aside .real .real_content::-webkit-scrollbar {
  display: none;
}
.contanier main .aside .real .carousel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  width: 180px;
  transform: translate(-50%);
}
.contanier main .aside .real .carousel .dat {
  padding: 5px;
  cursor: pointer;
}
.contanier main .aside .real .carousel .dat .car_dat {
  width: 12px;
  height: 4px;
  background: #7b86a4;
  border-radius: 2px;
  transition: 0.2s;
}
.contanier main .aside .real .carousel .dat:hover .car_dat {
  background: #fff;
}
.contanier main .aside .real .carousel .btn {
  background: none;
}
.contanier main .aside .real .carousel .btn .car_dat {
  width: 24px;
  background: #fff;
}
.contanier main .aside .fa-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contanier main .aside .btn_title {
  display: inline-block;
  width: 20%;
  margin: 5px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  border: 2px solid #006eff;
  border-radius: 6px;
  transform: 0.5s;
  cursor: pointer;
}
.contanier main .aside .btn {
  background: #006eff;
}
.contanier main .aside .btn_title:hover {
  background: #006eff;
}
.contanier main .latter_title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #006eff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
}
.contanier main .con_main {
  flex: 2.5;
}
.contanier main .con_main .search {
  width: 1060px;
  height: 360px;
  padding-top: 10px;
}
.contanier main .con_main .search .search_title {
  font-size: 30px;
  margin-bottom: 20px;
}
.contanier main .con_main .search .ser_card {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
}
.contanier main .con_main .search .ser_card .card {
  position: relative;
  width: 30%;
  height: 290px;
  color: #fff;
  text-align: center;
}
.contanier main .con_main .search .ser_card .card .card_from {
  height: 240px;
  padding: 0px 2px;
  overflow-y: scroll;
  color: #fff;
  font-size: 15px;
  /* 隐藏滚动条 */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.contanier main .con_main .search .ser_card .card .card_from .newsReport {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  line-height: 25px;
}
.contanier main .con_main .search .ser_card .card .card_from .newsReport .real_ranking {
  width: 30px;
  height: 30px;
  margin: 10px;
  line-height: 30px;
  text-align: center;
  background: #1e4889;
}
.contanier main .con_main .search .ser_card .card .card_from .newsReport .real_introduce {
  text-align: left;
  display: -webkit-box;
  width: 270px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.contanier main .con_main .search .ser_card .card .real_content::-webkit-scrollbar {
  display: none;
}
.contanier main .con_main .search .ser_card .card .card_list {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 100;
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
  background: #101124;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 4px rgba(28, 162, 247, 0.5);
  transform: translate(-50%);
  cursor: pointer;
}
.contanier main .con_main .search .ser_card .card .card_list .btn {
  color: #006eff;
}
.contanier main .con_main .search .ser_card .card .card_list .card_item:hover {
  color: #006eff;
}
.contanier main .con_main .search .ser_card .card .card_title:hover + .card_list {
  animation: move1 1.2s;
}
@keyframes move1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contanier main .expose {
  flex: 1;
}
