.contanier {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.contanier header {
  flex: 1;
}
.contanier main {
  display: flex;
  flex: 10;
}
video {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}
