.expose {
  width: 400px;
  padding-top: 10px;
  border: 1px solid red;

  .ex_title {
    font-size: 30px;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #006eff, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.Pagination {
  color: red;
}
